@import '../../css/baseStyles';

.alerts.container {
  position: fixed;
  z-index: 1 * $z-index-step-size;
  bottom: $gap * 2;
  left: 50%;
  transform: translateX(-50%);
}

.alerts .message {
  opacity: 1;
  box-shadow: 0 0 $radius-large $grey-lighter;
  transition: opacity ease-in 200ms;

  &.entering,
  &.exited {
    opacity: 0;
    box-shadow: none;
  }
}
